Flask-SocketIO
amqp
celery
coverage
eventlet
flake8
flake8-docstrings
flask
flask-cors
flasgger
flask_httpauth
flask_script
flask_sqlalchemy
gevent
greenlet
gunicorn
mock
pytest
pytest-cov
pytest-flask
redis
salt
uWSGI
